* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-display: swap;
}

body {
    color: #d1d1d1;
    background: #1d1d20;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Montserrat-Regular';
    line-height: 1.6;
}

.content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: auto;
    background: #1d1d20;
    max-height: 100vh;
    padding: 3rem;
    position: relative;
    margin: 2rem;
}

@media screen and (max-width: 1000px) {
    .content {
        padding: 1.5rem;
        margin: 0;
    }
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15rem;
}

header .logo svg .alt-color {
    fill: #777
}

header .logo svg {
    fill: #ccc
}

header ul {
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    height: 50px
}

header ul a {
    color: #ccc;
    margin-left: 30px;
    line-height: 1.5;
    display: flex;
}

header ul a svg {
    margin-top: -15px;
    fill: #777;
    transition: transform .2s ease-in-out;
    transform: scale(1.01);
}

header ul svg:hover {
    transform: scale(1.2);
}
.wrap {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap div {
    width: 25rem;
}

p {
    font-size: .9rem;
    max-width: 65ch;
}

a {
    display: block;
    color: #ccc;
    margin-bottom: .5rem;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.inside {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s cubic-bezier(0.34, 1.56, .61, 1);
    transform-style: preserve-3d;
    background: #1d1d20;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.inside .floater {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    margin-top: auto;
}

footer {
    margin-bottom: 2rem;
}

.login-form{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #979595, #2c2c2c);
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #979595;
}

.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.submit{
    background: transparent;
    width: 40px;
    color: #9b9b9b;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.submit:hover{
    color: #d1d1d1;
}

.other-link{
    margin-top: 10px;
}
input:autofill,
input:-webkit-autofill {
    margin-top:10px;
}
